.dashboard-right {
  width: $widthDashboardRight;
  background-color: #fff;
  position: relative;
  &-tittle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: $orangeColor;
    margin: 0 0 4px 24px;
  }
  &-chartItem-left {
    @include flex(center, center);
  }
  &-chartItem {
    @include flex(center, space-between);

    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
    margin: 12px 24px;
    padding: 11px 0 12px 16px;
    &_circleWarp {
      position: relative;
      width: 60px;
      height: 60px;
    }
    &_circle1 {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &_circle2 {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 5px;
      left: 5px;
    }
    &_circle3 {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
    &_numPrecent {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: $-gray-400;
      position: absolute;
      top: 7px;
      left: 2px;

      transform: translate(50%, 50%);
      z-index: 101;
    }

    &_quantilyWarp {
      @include flex(center, center);
      flex-direction: column;
      margin-left: 12px;
      div {
        @include flex(center, center);
      }
      p {
        font-weight: 800;
        font-size: 24px;
        line-height: 36px;
        color: $-gray-400;
      }
      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: $orangeColor;
        margin-left: 5px;
      }
    }
    &_listedWarp {
      flex: 1;
      margin-left: 24px;
    }

    &_listedItem {
      @include flex(center, space-between);
      font-size: 12px;
      font-weight: 400;
      line-height: 21px;
      color: #7e7d88;
      list-style-type: dotted;
      margin-bottom: 5px;
      padding-left: 8px;
      flex: 1;
      > span {
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: $orangeColor;
        margin: 0 12px;
      }
    }
  }
}
.warpDot {
  @include flex(center, center);

  span {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: red;
    margin: 0 3px;
  }
}
