.option-custom {
    position: relative;

    width: 100%;
}
.select-input {
    @include flex(center, space-between);
    cursor: pointer;
    border: 1.5px solid #ffac6a;
    border-radius: 8px;
    padding: 0 10px;
    position: relative;
    height: 42px;

    &--multiple {
        height: auto;
        min-height: 42px;
        flex-wrap: wrap;
    }
}
.select {
    &-click {
        flex: 1;
        height: 80px;
    }
    &-title {
        color: $backTittle;
        line-height: 24px;
    }
    &-list {
        border: 1.5px solid $border-color;
        border-radius: 8px;
        background-color: $white;
        width: 100%;
        height: 152px;
        overflow-y: scroll;
        padding: 8px 0;
        z-index: 800;
        position: absolute;
    }
    &-item {
        @include flex(center, space-between);
        cursor: pointer;
        padding: 10px;
    }
    &-item:hover {
        background: #fff2e7;
    }
}
.selected {
    &-list {
        display: flex;
        flex-wrap: wrap;
        min-height: 42px;
        width: 100%;
    }
    &-item {
        @include flex(center, space-between);
        border: 1px solid #eee;
        border-radius: 9px;
        margin: 8px 15px 0 0;
        background-color: #ffac6a;
        padding: 4.5px 9px 4.5px 12px;
        color: $white;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        height: 28px;

        > :first-child {
            margin-right: 5px;
        }
        > :last-child {
            font-size: 20px;
        }
    }
}
#select-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px $white;
    border-radius: 43px;
    background-color: $white;
}

#select-list::-webkit-scrollbar {
    width: 4px;
    height: 75px;
    background-color: $white;
}

#select-list::-webkit-scrollbar-thumb {
    border-radius: 43px;
    -webkit-box-shadow: inset 0 0 3px white;
    background-color: $orangeColor2;
    cursor: pointer;
}
