.setpassword {
    h1 {
        font-size: 22px;
        font-weight: 700;
        color: $backTittle;
        margin-bottom: 16px;
        text-align: center;
    }

    .warp-controler-btn {
        @include flex(center, space-between);
        margin-top: 30px;
        padding: 0 20px;

        &.center {
            @include flex(center, center);
            padding: unset;
        }
    }
}
