.ReportManager {
  width: calc(#{$full-width} - #{$dashboard-width});
  background-color: $grayFF;
  &-controller {
    width: 100%;

    margin-top: 16px;
    position: relative;
  }
  .deviceManager-add {
    justify-content: space-evenly;
  }
}
