.controlService {
  .dropdown {
    width: 146px;

    &-btn,
    &-content {
      font-size: 14px;
      line-height: 21px;
      color: $backTittle;
    }
  }
  .controlDevice-warp-item:first-child .dropdown {
    width: 180px;
  }
  .controlDevice-warp-item_search {
    width: 240px;
  }
}
//addrandom
.main-Random {
  background: $white;
  box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
  border-radius: 16px;
  margin: 0 24px 42px 24px;
  padding-top: 24px;

  position: relative;
  &_heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    color: $orangeColor;
    text-transform: uppercase;
    text-align: center;
  }

  &_content {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: $-gray-400;
    text-align: center;
    margin: 20px 0 12px 0;
  }
  > .dropdown {
    width: 400px;
    margin: auto;
  }
  > .controll-btn {
    margin: 80px 0 0px 0;
    padding-bottom: 298px;
    button {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
//model random
.Model {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999998;
}
.ModeRandom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  border-radius: 24px;
  text-align: center;
  z-index: 9999999;
  transition: ease-out 1s;
  &-top {
    padding-top: 48px;
    background-color: $white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    &_title {
      font-weight: bold;
      font-size: 32px;
      line-height: 48px;
      color: $-gray-400;
    }
    &_number {
      font-weight: 800;
      font-size: 56px;
      line-height: 60px;
      color: $orangeColor;
      margin: 24px 0px;
    }
    &_content {
      font-size: 18px;
      line-height: 27px;
      color: $backTittle;
      padding-bottom: 44px;
    }
  }
  &-bot {
    padding: 16px 0;
    background-color: $orangeColor2;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    &_title {
      font-weight: bold;
      font-size: 22px;
      line-height: 33px;
      color: $white;
    }
    &_title:first-child {
      margin-bottom: 12px;
    }
  }
  &-exit {
    position: absolute;
    top: 22px;
    right: 22px;
    color: $orangeColor;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
  }
}
